@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Inter:opsz@14..32&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
